<h1>Received donations</h1>

<table>
  <tr>
    <th>Donor Id</th>
    <th>Donor Name</th>
    <th>Amount</th>
    <th></th>
  </tr>

<% donations.each do |donation| %>
  <tr>
    <td><%= donation.donor_id %></td>
    <% @sel_donors = Donor.find_all_by_id(donation.donor_id) %>
    <% for sel_donor in @sel_donors %>
    <td><%= sel_donor.name %></td>
    <% end %>
    <td><%= donation.amount %></td>
    <td><%= link_to 'Show', donation %></td>
  </tr>
<% end %>
</table>

<br />
