<!DOCTYPE html>
<html>
<head>
  <title>Student Donor and Donations</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<h1>Welcome to the Student, Donor and Donations Management System</h1>
<p>This is prototype model for the creation of Student, Donor and Donation database system. You will notice the following functionality:</p>
<ol>
    <li>When a Student is Displayed, the system also lists the Donations and the Donor ID associated with the student</li>
    <li>When a Donor is Displayed, system shows the Donor information as well as his donations and also provides a way for him to Donate more. He just has to put the Student ID while donating for proper linkage</li>
    <li>New donations can be added by the admin or the Donor but none of the donation can be changed by the Student. A student can just view the donation done to him/her</li>
</ol>
<blockquote>Click on each of the Above menu to have a better idea of the whole application. You can also play around this system by adding NEW DATA OR editing OLD DATA</blockquote>
<h3>Hope this serves as a good prototype for the START of the full-fledged model. The whole functionality is done through Ruby on Rails</h3>
<pre>By the way, I am located at /app/views/home/<index class="html erb"></index></pre>
</body>
</html>
